Source: opentumblr
Section: unknown
Priority: extra
Maintainer: Mario Oyorzabal Salgado <tuxsoul@tuxsoul.com>
Build-Depends: cdbs, debhelper (>= 5), patchutils, python (>=2.4), python-support (>= 0.5.3)
Standards-Version: 3.7.2

Package: opentumblr
Architecture: any
Homepage: http://opentumblr.tumblr.com
Depends: ${python:Depends}, python-simplejson
Description: Desktop client to tumblr in python.
 Opentumblr is a Desktop client for blog to tumblr write in python.
